<p id="notice"><%= notice %></p>

<h1>Listing Topics</h1>
<%= link_to 'New Topic', new_topic_path %>

<% @categorys.each do |category| %>
  <table>
    <thead>
      <h2><%= category.subject %></h2>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th>MuscleUps</th>
        <th>Created At</th>
        <th>Total Comments</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <% if topic.category_id == category.id %>
        <tr>
          <td><%= link_to topic.title, topic_path(topic) %></td>
          <td><%= topic.content %></td>
          <td><%= @users.find(topic.user_id).username %></td>
          <td><%= @muscleups.find_by(topic_id: topic.id).total %></td>
          <td><%= topic.created_at %></td>
          <td><%= topic.comments.count %></td>
          <td><%= button_to '+1', muscleup_topic_topic_path(topic), method: :post %></td>
          <td><%= link_to 'Show', topic %></td>
          <td><%= link_to 'Edit', edit_topic_path(topic) %></td>
          <td><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>

