<p id="notice"><%= notice %></p>
<div class="container">
<div class="topic">
<h3 class="title">
  <%= @topic.title %>
</h3>

<div class="content-container">
  <div class="content">
    <%= @topic.content %>
  </div>
</div>

<p class="author">
  <strong>Author:</strong>
  <%= @users.find(@topic.user_id).username %>
</p>
</div>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @comement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Create a comment' %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.hidden_field :topic_id, :value => @topic.id %>
    <%= f.hidden_field :user_id, :value => session[:user_id] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <br />
  <h4>Comments:</h4>
  <br />
<% @topic.comments.each do |comment| %>
  <p>By: <%= link_to @users.find(comment.user_id).username, user_path(comment.user_id) %></p>
  <p><%= comment.content %></p>
  <p>Created at: <%= comment.created_at %></p>
  <p class="muscleups">MuscleUps: <%= @muscleups.find_by(comment_id: comment.id, topic_id: comment.topic_id).total %> </p>
  <div class="muscleup-button"><%= button_to '+1', muscleup_comment_comment_path(comment), method: :post %></div>
  <br />
  <br />
<% end %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</div>